@import "../../styles/variables.scss";
@import "../../styles/colors.scss";

.new-offer-container {
  width: 90%;
  max-width: $breakpoint-max;
  margin: 0 auto;
  margin-bottom: 8%;

  .breadcrumb {
    padding: 1.5% 0;
    margin-bottom: 3%;
    border-bottom: 1px solid $secondaryLightColor;
    font-weight: 500;
    a {
      color: $primaryGreen;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  .new-offer-form {
    width: 100%;

    .active-form {
      max-width: 450px;
    }
    h2 {
      font-size: 1rem;
      font-weight: bold;
    }
    h3 {
      font-size: 1rem;
    }

    .first-action {
      padding-bottom: 3%;

      div:first-of-type {
        width: 100%;
        label {
          border-radius: 0.25rem;
          border: 1px solid $secondaryLightColor;
          &::before {
            content: none;
          }
          &:hover {
            transform: translateY(-1px);
          }
        }
        label:first-of-type {
          margin-right: 2%;
        }
      }
    }
    .geo-input {
      display: flex;
      margin-bottom: 2%;
      input:first-of-type {
        margin-right: 2%;
      }
    }
    .geo-container {
      display: flex;
      margin-bottom: 3%;

      button:first-of-type {
        margin-right: 2%;
      }
    }
  }
}
