.Button {
  background-color: transparent;
  border: none;
  color: white;
  outline: none;
  cursor: pointer;
  font: inherit;
  padding: 10px;
  margin: 10px;
  font-weight: bold;
}

/* .Button:first-of-type {
  margin-left: 0;
  padding-left: 0;
} */

.Success {
  color: #0ac18e;
  border-radius: 3px;
  border: 2px solid #0ac18e;
}

.SignUp {
  color: #0ac18e;
  border: 2px solid #0ac18e;
  border-radius: 3px;
  padding: 10px 40px;
  background-color: #3f3f3f;
}
.SignUp:hover {
  border: 2px solid #15d6a0;
  color: white;
  background-color: #15d6a0;
}

.Danger {
  color: #944317;
}

.Button:disabled {
  color: #ccc;
  cursor: not-allowed;
}
