@import "../../../styles/variables.scss";
@import "../../../styles/colors.scss";

.chat-container {
  flex-basis: 50%;
  padding: 0 5%;
  border-right: 1px solid $secondaryLightColor;

  .chat-heading {
    display: flex;
    span {
      font-size: 1.5rem;
    }
    div {
      margin-left: 3%;
      h3 {
        font-size: 1rem;
        font-weight: bold;
      }
      p {
        font-size: 0.8rem;
      }
    }
  }
  .message-ctn {
    display: flex;
    flex-direction: column;
    border: 1px solid $secondaryLightColor;
    border-radius: 4px;
    padding: 1% 2%;
    margin-bottom: 2%;
    overflow-y: scroll;
    max-height: 400px;

    .message-info {
      color: $secondaryDarkColor;
      .list-title {
        margin-bottom: 0;
      }
      li {
        font-size: 0.8rem;
      }
    }
  }
  .message-actions {
    #normal_message {
      display: flex;

      .ant-form-item:first-child {
        flex: 1;
      }
      button {
        margin-left: 0.5rem;
      }
    }
  }
}
