@import "../../styles/variables.scss";
@import "../../styles/colors.scss";

.card-container {
  display: flex;
  flex-direction: column;

  .card-box {
    display: flex;
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;

    h3 {
      font-weight: bold;
    }
    p {
      font-weight: 200;
    }

    .offer-actions {
      display: flex;
      flex-direction: column;
    }
  }
  .offers-control {
    display: flex;
    justify-content: flex-end;
  }
}
.custom {
  text-align: left;
}
