body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.unused {
  /* button dark */
  color: #15d6a0;
  /* button light */
  color: #0ac18e;

  color: #444;
  /* for text */
  color: #3f3f3f;
  /* header and footer */
  color: #111724;
}
