.Post {
  display: flex;
  width: 80%;
  border: 1px solid #444;
  box-shadow: 0 2px 3px #ccc;
  padding: 10px;
  margin: 10px auto;
  box-sizing: border-box;
  justify-content: space-between;

  /* animation */
  /* transition-property: box-shadow;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s; */
}
